{{#each this}}
<div class="card">
    <div class="card-img-top">
        <img width="60" src="{{flags.svg}}" alt="{{name.official}}">
        <h2 class="card-title">{{name.official}}</h2>
        </div>
        <p class="card-text">Capital: {{capital}}</p>
        <p class="card-text">Population: {{population}}</p>
        <p class="card-text">Languages:{{#each languages}}<span class="language">{{this}}</span>{{/each}}</p>
</div>
{{/each}}
